$ const { id, type, pageNode, ...rest } = input;

<global-content-default-layout
  id=id
  type=type
  page-node=pageNode
  ...rest
>

  <!-- <@section|{ aliases }|>
    <theme-gam-define-display-ad
      name="rotation"
      position="content_page"
      aliases=aliases
      modifiers=["inter-block"]
    />
  </@section> -->

  <!-- <@section>
    <theme-client-side-most-popular-block />
  </@section> -->
</global-content-default-layout>
