import hierarchyAliases from "@parameter1/base-cms-marko-web/utils/hierarchy-aliases";

$ const { id, alias, name, pageNode } = input;

<global-website-section-home-layout
  id=id
  alias=alias
  name=name
  page-node=pageNode
>
  <!-- <@section>
    <theme-section-list-deck-block aliases=["investing", "regulation", "technology"] />
  </@section> -->
</global-website-section-home-layout>
