@import "../../node_modules/@bizbash-media/package-global/scss/index";
@import "../../node_modules/bootstrap/scss/tables";

$grid-gutter-width: 48px;

.table {
  font-size: 12px;

  th {
    font-weight: 700;
  }
}

.coming-soon {
  -webkit-line-clamp: 5;
  max-height: 116.725px;
  overflow: hidden;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5;
  color: #333;
  text-decoration: none;
  text-overflow: ellipsis;
}
