$theme-site-header-breakpoints: (
  hide-primary: 1100px,
  hide-secondary: 995px,
  small-logo: 995px,
  small-text-primary: 0,
);

$marko-web-document-container-max-width: 1300px;

// Colors
$primary: #0072bb;

@import "@bizbash-media/package-global/scss/core";

.document-container {
  background-color: transparent;
}

.site-navbar {
  $self: &;
  &--primary {
    padding: 5px 16px;
    background-color: #e2e8f0;
    border-top: 1px solid #64748b;
    border-bottom: 1px solid #c4c6cb;
    .site-navbar {
      &__link {
        text-transform: uppercase;
      }
    }
  }
  &--secondary {
    .site-navbar {
      &__items {
        font-size: .875rem;
        font-weight: 400;
      }
      &__link {
        letter-spacing: .025em;
      }
    }
  }
  &--top {
    #{ $self } {
      &__left {
        padding-left: 0;
        @media (max-width: map-get($theme-site-header-breakpoints, small-logo)) {
          display: none;
        }
      }
      &__center {
        display: flex;
        @media (min-width: map-get($theme-site-header-breakpoints, small-logo)) {
          justify-content: center;
        }
      }
      &__center.col-lg-6 {
        justify-content: flex-start;
        padding-left: 0;
      }
      &__right {
        .marko-web-icon svg { /* stylelint-disable-line selector-max-combinators,selector-max-compound-selectors */
          fill: #f8fafc;
        }
        .btn,
        #{ $self }__toggler { /* stylelint-disable-line selector-max-combinators,selector-max-compound-selectors */
          background-color: $primary;
        }
      }
      &__container {
        @media (min-width: map-get($theme-site-header-breakpoints, small-logo)) {
          height: 115px;
        }
      }
    }
  }
  &__items {
    &--primary {
      justify-content: space-between;
      font-size: 16px;
    }
  }
  &__item {
    &--gold {
      #{ $self } {
        &__link {
          font-weight: 700;
          color: #ffd700;
        }
      }
    }
  }
  .subscribe-box {
    &--call-to-action a {
      font-size: 1.25rem;
      font-weight: 600;
      color: #fff;
    }
  }
}

.page-wrapper {
  &__deck {
    max-width: 900px;
    font-weight: 300;
  }
  &__content-name {
    max-width: 1000px;
  }
  &__section {
    &--row-reverse {
      .content-card-deck {
        .card-deck-flow {
          flex-direction: row-reverse;
        }
      }
    }
    &--background-color {
      .section-card-list,
      .content-card-deck {
        padding: 1rem 2rem 2rem;
        background-color: #f0f1f2;
      }
    }
    .magazine-issues {
      margin-right: 0;
      margin-left: 0;
      &__wrapper {
        padding: 1rem 2rem 2rem;
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}

.node {
  &__header a {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    text-transform: uppercase;
  }
}

.section-feed-content-node {
  &__website-section-name {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
  }
}

.node-list {
  &--section-list {
    .node-list {
      &__header a {
        color: $black;
      }
    }
  }
}

.node-text {
  &--teaser a {
    color: $theme-page-deck-color;
  }
}

.ad-container {
  &--inter-block {
    @media (min-width: 1080px) {
      margin-right: 0;
      margin-left: 0;
    }
  }
}

// .marko-web-gam-fixed-ad-bottom {
//   &__container {
//     bottom: 40px;
//   }
// }

.site-footer {
  &__container {
    &--secondary,
    &--brand-logos {
      background-color: $primary;
    }
    &--primary {
      background-color: $black;
    }
  }
  &__brand {
    margin-bottom: 0;
  }
  .site-footer-newsletter {
    .btn-primary {
      background-color: #d4af37;
    }
  }
}
