$primary: #3155fc;
$secondary: #495057;
$light: #e9ecef;
$dark: #212529;
$info: #6c757d;
$dark-bg-color: #00337b;
$light-bg-color: #0a6fff;
$background: $dark-bg-color;
$link-color: $light-bg-color;

$theme-site-footer-primary-bg-color: $light-bg-color;
$theme-site-footer-secondary-bg-color: $dark-bg-color;

$theme-load-more-button-background-color: $dark-bg-color;
$theme-load-more-button-border-color: $dark-bg-color;

$leaders-primary-color: #002f7b;
$leaders-primary-color-light: #005bac;
$leaders-accent-color: #d557af;

$theme-site-header-breakpoints: (
  hide-secondary: 790px,
  small-text-secondary: 875px
);

@import "../../node_modules/@bizbash-media/package-global/scss/index";

.load-more-trigger > button:hover {
  background-color: $light-bg-color;
  border-color: $light-bg-color;
}
