.ad-container {
  &--content-list-leaderboard {
    padding-top: map-get($spacers, block);
    padding-bottom: map-get($spacers, block);
    margin-top: map-get($spacers, block);
    margin-bottom: map-get($spacers, block);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  // stylelint-disable-next-line selector-no-qualifying-type
  iframe[id*="bb_vid"] {
    width: 100%;
    height: 300px;
  }
}
.marko-web-gam-fixed-ad-bottom {
  &__container {
    bottom: 40px;
  }
}
