.pagination-controls,
.marko-web-search-pagination-controls {
  display: flex;
  align-items: center;
  padding-top: map-get($spacers, block);

  &__prev {
    margin-right: map-get($spacers, block);
  }

  &__next {
    margin-left: map-get($spacers, block);
  }

  &__pages {
    line-height: 1;
  }
}
