

@import "@parameter1/base-cms-marko-web/scss/fonts/oswald-fallback";
@import "@parameter1/base-cms-marko-web/scss/fonts/open-sans-condensed-fallback";

$skin-font-family-primary: "Oswald", oswald-fallback, sans-serif !default;
$skin-font-family-secondary: "Oswald", oswald-fallback, sans-serif !default;

$theme-content-body-font: "Open Sans", open-sans-fallback, sans-serif;

// $theme-content-body-font: "Oswald", open-sans-fallback, sans-serif;
$black: #1f2937;
$body-color: $black;

// Override monorails typography font families
$theme-heading-font-family: $skin-font-family-primary;
$theme-page-deck-line-height-sm: 1.2;
$theme-page-deck-line-height: 1.2;

$typography: (
  "header-1": (
    "color": $black,
    "font-family": $theme-heading-font-family,
    "font-weight": 600,
  ),
  "header-1.5": (
    "color": $black,
    "font-family": $theme-heading-font-family,
    "font-weight": 600,
  ),
  "header-2": (
    "color": $black,
    "font-family": $theme-heading-font-family,
    "text-transform": uppercase,
    "font-weight": 600,
  ),
  "header-3": (
    "color": $black,
    "font-family": $theme-heading-font-family,
    "font-weight": 600,
  ),
  "article-text": (
    "color": $black,
    "font-family": $theme-content-body-font,
    "line-height": 1.875,
    "font-size": 18px,
  ),
  "small-body-text": (
    "color": $black,
    "font-family": $theme-content-body-font,
  ),
  "teaser-text-1": (
    "color": $black,
    "line-height": 1.4,
    "font-size": 16px,
    "font-weight": 300,
  ),
  "slug-medium": (
    "color": $primary,
    "line-height": 1.1125,
    "font-size": 13px,
    "font-weight": 500,
  ),
  "section-header": (
    "color": $black,
  ),
  "section-header-small__header": (
    "color": $black,
  )
);

// Only set to override the 700px max.  Need to figure out how to remove this all together.

$skin-content-body-max-width: 1000px;
//.025em
// .875rem
$theme-site-navbar-logo-height-sm: 45px;
$theme-site-navbar-logo-height: 75px;
$theme-site-navbar-secondary-font-weight: 400;
$theme-site-navbar-secondary-bg-color: $primary;
$theme-site-navbar-secondary-link-color: #f8fafc;
$theme-site-navbar-secondary-link-hover-color: #f8fafc;
$theme-site-navbar-secondary-link-active-color: #f8fafc;
$theme-site-navbar-primary-bg-color: $primary;
$theme-site-navbar-primary-link-color: $black;
$theme-site-navbar-primary-link-hover-color: $primary;
$theme-site-navbar-primary-link-active-color: $primary;
$theme-site-navbar-primary-link-text-transform: "uppercase";
$theme-site-navbar-primary-font-size: 16px;
$theme-site-navbar-primary-font-weight: 600;

$theme-page-deck-color: #6b7280;

// Navbar
$navbarStyle: "navbar-c" !default;
$theme-site-navbar-primary-type: light !default;
$theme-site-navbar-primary-font-size: 15px !default;
$theme-site-navbar-primary-link-color: #3f4043 !default;
$theme-site-navbar-primary-link-active-color: $primary !default;
$theme-site-navbar-primary-link-hover-color: $primary !default;
$theme-site-navbar-primary-bg-color: #f0f1f2 !default;
$theme-site-navbar-logo-height: 30px !default;
$theme-site-navbar-secondary-font-size: 16px !default;
$theme-card-header-text-transform: uppercase !default;

// Ads
$leaderboard-min-height-mobile: 50px !default;
$leaderboard-min-height-desktop: 250px !default;

// $skin-content-body-max-width: auto;
