

// Navbar
$navbarStyle: "navbar-c" !default;
$theme-site-navbar-primary-type: light !default;
$theme-site-navbar-primary-font-size: 15px !default;
$theme-site-navbar-primary-link-color: #3f4043 !default;
$theme-site-navbar-primary-link-active-color: $primary !default;
$theme-site-navbar-primary-link-hover-color: $primary !default;
$theme-site-navbar-primary-bg-color: #f0f1f2 !default;
$theme-site-navbar-logo-height: 30px !default;
$theme-site-navbar-secondary-font-size: 16px !default;
$theme-card-header-text-transform: uppercase !default;

// Ads
$leaderboard-min-height-mobile: 50px !default;
$leaderboard-min-height-desktop: 90px !default;

// $skin-content-body-max-width: auto;
