@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600,700|Source+Serif+Pro:400,600,700&display=swap");

$theme-font-family-sans-serif: "IBM Plex Sans", sans-serif;
$theme-font-family-serif: "Source Serif Pro", serif;
$theme-font-family-page-title: $theme-font-family-sans-serif;

$theme-site-navbar-secondary-bg-color: #000;
$theme-site-navbar-primary-bg-color: #000;
$theme-card-header-background-color: #000;

$enable-rounded: false;

$theme-site-navbar-logo-height: 30px;
$theme-site-navbar-logo-height-sm: 25px;

$theme-site-header-breakpoints: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-site-header-breakpoints: map-merge(
  (
    hide-primary: 10000px,
    hide-secondary: 610px,
    hide-tertiary: 0,
    small-logo: 667px,
    small-text-primary: 10000px,
    small-text-secondary: 740px
  ),
  $theme-site-header-breakpoints
);

@import "../../node_modules/@parameter1/base-cms-marko-web-theme-default/skins/orion/skin";
@import "../../node_modules/@parameter1/base-cms-marko-web-gtm/scss/slot";
@import "./components/inquiry-form";
@import "./components/primary-image";
@import "./components/carousel";
@import "./components/contact-us-form"; // @todo this should be remove once contact us is in core
@import "./components/company-page";

.leaders {
  @include border-radius($theme-card-border-radius);
  @include box-shadow($theme-card-box-shadow);
  background-color: $white;
  &__body {
    padding: $marko-web-node-padding;
  }
}

.ad-container {
  &--above-container {
    margin-top: map-get($spacers, block);
  }
}

.document-container-header {
  position: relative;
  flex-shrink: 0;
  flex-grow: 1;
  width: 100%;
  padding-top: calculate-navbar-height-for(default);

  @each $breakpoint, $width in sort-map-by-values($theme-site-header-breakpoints, desc) {
    @media (max-width: $width) {
      padding-top: calculate-navbar-height-for($breakpoint);
    }
  }
}

.document-container {
  padding-top: 0;
}

.marko-web-gtm-slot {
  &:empty {
    display: none;
  }
  &--above-container {
    &:not(:empty) {
      margin-top: map-get($spacers, block);
    }
  }
}

.node {
  $self: &;
  &--image-headshot {
    #{ $self }__image-inner-wrapper {
      box-shadow: none;
    }
  }
}

.supplier-disclaimer {
  font-size: .85rem;
  font-style: italic;
}

.content-section-header {
  display: block;
  color: $gray-600;
  text-align: left;
  text-transform: uppercase;
  &--border {
    padding-bottom: .25rem;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
  }
  &:not(:first-child) {
    margin-top: 1.5rem;
  }
}
