@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,700,700i|Open+Sans:400,400i,700,700i|Roboto+Condensed:700,400|Oswald:500,700&display=swap");
@import "../../node_modules/@parameter1/base-cms-marko-web-theme-default/scss/functions";

// Bizbash specific vars
$bizbash-letter-spacing:  .1px;
$theme-site-footer-logo-height: 80px;

// Fonts
$font-source-sans-pro:    "Source Sans Pro", "Arial", sans-serif;
$font-open-sans:          "Open Sans", "Arial", sans-serif;
$font-oswald:             "Oswald", "Arial", sans-serif;
$font-roboto-condensed:   "Roboto Condensed", sans-serif;

$theme-font-family-sans-serif: $font-open-sans;
$theme-font-family-page-title: $font-source-sans-pro;

// Colors
$primary:   #0072bb;
$black:     #000;
$white:     #fff;
$gray-600:  #4d4d4d;

// General Settings
$body-bg:     #fff;
$body-color:  #333;
$list-group-border-width: 0;
$enable-shadows: false;
$enable-rounded: false;
$breadcrumb-divider-color: $black;

// Headings
$theme-heading-font-family: $font-source-sans-pro;

// Items
$theme-item-footer-font-family:         $font-oswald;
$theme-item-footer-font-size:           11px;
$theme-item-footer-font-weight:         500;
$theme-item-footer-text-transform:      uppercase;

$theme-item-title-font-family:          $theme-heading-font-family;
$theme-item-title-font-size-sm:         15.575px;
$theme-item-title-font-size:            16.675px;
$theme-item-title-font-weight:          300;
$theme-item-title-line-height-sm:       get-line-height($theme-item-title-font-size-sm, 21.345px) !default;
$theme-item-title-line-height:          get-line-height($theme-item-title-font-size, 23.345px) !default;
$theme-item-title-max-lines:            5;

$theme-item-title-large-font-size-sm:   28px;
$theme-item-title-large-font-size:      32px;
$theme-item-title-large-font-weight:    700;
$theme-item-title-large-line-height-sm: get-line-height($theme-item-title-large-font-size-sm, 34px) !default;
$theme-item-title-large-line-height:    get-line-height($theme-item-title-large-font-size, 38px) !default;
$theme-item-title-large-max-lines:      4;

$theme-item-description-font-family:    $font-open-sans;
$theme-item-description-font-size-sm:   13px;
$theme-item-description-font-size:      13px;
$theme-item-description-line-height-sm: get-line-height($theme-item-description-font-size-sm, 24px) !default;
$theme-item-description-line-height:    get-line-height($theme-item-description-font-size, 24px) !default;
$theme-item-description-margin:         10px;

// Pages
$theme-page-title-font-size:    32px;
$theme-page-title-font-weight:  700;

$theme-page-deck-color:         #565656;
$theme-page-deck-font-size:     18px;

$theme-page-body-font-family:   $font-open-sans;
$theme-page-body-font-size:     16px;
$theme-page-body-font-size-sm:  16px;

$theme-page-body-images-title-font-size:    17px;
$theme-page-body-images-title-font-weight:  700;

$theme-page-body-media-gallery-image-name-font-family:  $font-oswald;
$theme-page-body-media-gallery-image-name-font-weight:  700;

// Content Attribution
$theme-content-attribution-color:                   $gray-600;
$theme-content-attribution-font-family:             $font-oswald;
$theme-content-attribution-font-size:               12px;
$theme-content-attribution-font-weight:             700;
$theme-content-attribution-text-transform:          uppercase;
$theme-content-attribution-prefix-spacer-content:   "";
$theme-content-attribution-prefix-margin-after:     0;

// Content Published Date
$theme-content-published-date-color:            $theme-content-attribution-color;
$theme-content-published-date-font-family:      $theme-content-attribution-font-family;
$theme-content-published-date-font-size:        $theme-content-attribution-font-size;
$theme-content-published-date-font-weight:      $theme-content-attribution-font-weight;
$theme-content-published-date-text-transform:   $theme-content-attribution-text-transform;

// Contact Details
$theme-contact-details-font-size:         12px;
$theme-contact-details-font-weight:       700;
$theme-contact-details-label-font-weight: 700;

// Breadcrumbs
$theme-breadcrumbs-font-family:   $font-roboto-condensed;
$theme-breadcrumbs-font-size:     12px;
$theme-breadcrumbs-font-size-sm:  12px;
$theme-breadcrumbs-font-weight:   600;

// Cards
$theme-card-header-color:             $primary;
$theme-card-header-background-color:  #fff;
$theme-card-header-border:            none;
$theme-card-header-font-family:       $font-oswald;
$theme-card-header-font-size:         26.825px;
$theme-card-header-font-weight:       700;
$theme-card-header-letter-spacing:    $bizbash-letter-spacing;


// Media
$theme-media-caption-color:       #464646;
$theme-media-caption-font-weight: 400;
$theme-media-credit-color:        #777;
$theme-media-credit-font-size:    12px;
$theme-media-credit-font-style:   initial;
$theme-media-footer-font-size:    14px;
$theme-media-footer-padding-x:    0;
$theme-media-footer-padding-y:    .5rem;

// Load More
$theme-load-more-header-color:        $theme-card-header-color;
$theme-load-more-header-font-family:  $theme-card-header-font-family;
$theme-load-more-header-font-size:    $theme-card-header-font-size;
$theme-load-more-header-font-weight:  $theme-card-header-font-weight;

// Navbar / Header
$theme-site-header-breakpoints: (
  hide-primary: 896px,
  hide-secondary: 1065px,
  small-logo: 860px,
  small-text-primary: 1020px,
  small-text-secondary: 860px
);

$theme-site-navbar-primary-bg-color:        $black;
$theme-site-navbar-primary-font-family:     $font-source-sans-pro;
$theme-site-navbar-primary-font-size:       18.5px;
$theme-site-navbar-primary-font-size-sm:    16px;
$theme-site-navbar-primary-font-weight:     700;
$theme-site-navbar-primary-line-height:     1;

$theme-site-navbar-primary-link-active-color:       $primary;
$theme-site-navbar-primary-link-active-decoration:  none;
$theme-site-navbar-primary-link-color:              #fff;
$theme-site-navbar-primary-link-hover-color:        #fff;

$theme-site-navbar-secondary-bg-color:      $black;
$theme-site-navbar-secondary-font-size:     12px;
$theme-site-navbar-secondary-font-size-sm:  12px;
$theme-site-navbar-secondary-font-family:   $font-roboto-condensed;
$theme-site-navbar-secondary-font-weight:   700;
$theme-site-navbar-secondary-line-height:   1;

$theme-site-navbar-secondary-link-color:              $primary;
$theme-site-navbar-secondary-link-active-decoration:  none;
$theme-site-navbar-secondary-hover-color:             $primary;

$theme-site-navbar-tertiary-link-active-color:  $white;
$theme-site-navbar-tertiary-link-color:         $white;
$theme-site-navbar-tertiary-link-hover-color:   $white;

$theme-site-navbar-menu-hover-background-color: lighten($primary, 60%);

$theme-site-navbar-logo-height-sm: 45px;

// Carousel
$theme-carousel-caption-padding: 1rem;
$theme-carousel-caption-text-shadow: rgba(0, 0, 0, .6) 0 1px 2px;
$theme-carousel-caption-background: rgba(0, 0, 0, .75);


$enable-rounded: false;

$theme-site-navbar-logo-height: 45px;
$theme-site-navbar-logo-height-sm: 45px;

$theme-site-header-breakpoints: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-site-header-breakpoints: map-merge(
  (
    hide-primary: 10000px,
    hide-secondary: 610px,
    hide-tertiary: 0,
    small-logo: 667px,
    small-text-primary: 10000px,
    small-text-secondary: 740px
  ),
  $theme-site-header-breakpoints
);

@import "../../node_modules/@parameter1/base-cms-marko-web-social-sharing/scss/buttons";
@import "../../node_modules/@parameter1/base-cms-marko-web-theme-default/skins/orion/skin";
@import "../../node_modules/@parameter1/base-cms-marko-web-gtm/scss/slot";
@import "../../node_modules/@parameter1/base-cms-marko-web-reveal-ad/scss/reveal-ad";
@import "components/carousel";
@import "components/directory";
@import "components/page-body-media-gallery";
@import "components/sticky-footer";

.leaders {
  @include border-radius($theme-card-border-radius);
  @include box-shadow($theme-card-box-shadow);
  background-color: $white;
  &__body {
    padding: $marko-web-node-padding;
  }
}

.ad-container {
  &--above-container {
    margin-top: map-get($spacers, block);
  }
}

.social-sharing {
  margin-top: map-get($spacers, block);
  margin-bottom: map-get($spacers, block);
}

.document-container-header {
  position: relative;
  flex-shrink: 0;
  flex-grow: 1;
  width: 100%;
  padding-top: calculate-navbar-height-for(default);

  @each $breakpoint, $width in sort-map-by-values($theme-site-header-breakpoints, desc) {
    @media (max-width: $width) {
      padding-top: calculate-navbar-height-for($breakpoint);
    }
  }
}

.document-container {
  padding-top: 0;
}

.marko-web-gtm-slot {
  &:empty {
    display: none;
  }
  &--above-container {
    &:not(:empty) {
      margin-top: map-get($spacers, block);
    }
  }
}

.node {
  $self: &;
  &--image-headshot {
    #{ $self }__image-inner-wrapper {
      box-shadow: none;
    }
  }
}

.supplier-disclaimer {
  font-size: .85rem;
  font-style: italic;
}

.content-section-header {
  display: block;
  color: $gray-600;
  text-align: left;
  text-transform: uppercase;
  &--border {
    padding-bottom: .25rem;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
  }
  &:not(:first-child) {
    margin-top: 1.5rem;
  }
}

.page-contents {
  &__images {
    margin-top: map-get($spacers, block);;
  }
  .primary-image {
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    margin-bottom: $theme-primary-media-margin-bottom;
    &__image-caption {
      @include theme-media-caption();
    }

    &__image-credit {
      @include theme-media-credit();
    }

    &__wrapper {
      @include border-radius($theme-primary-media-border-radius);
      @include box-shadow($theme-primary-media-box-shadow);
      img {
        @include border-radius($theme-primary-media-border-radius);
        width: 100%;
        height: auto;
      }
    }
  }
}

.site-menu {
  width: 350px;
  &__item {
    border-bottom: none;
  }
  &__header {
    border-bottom-width: 1px;
  }
}

.page-attribution, .page-attribution div {
  display: inline;
}

.page-attribution:not(:empty) + .page-dates {
  display: inline;
  &::before {
    margin-right: .25rem;
    margin-left: .25rem;
    font-weight: 400;
    content: "\2014";
  }
}

.node-list {
  $self: &;
  &--featured-venues-suppliers {
    background-color: #e9ecef;

    #{ $self } {
      &__node {
        padding-top: 0;
        &:last-child {
          padding-bottom: .75rem;
        }
        .node__contents--body {
          margin-bottom: 0;
        }
      }
      &__header,
      &__nodes,
      &__node .node {
        background-color: #e9ecef;
      }
      &__header {
        font-size: 20px;
        padding-bottom: 0;
      }
    }
  }
}

.card-deck-flow {
  &--magazine-issues {
    .node {
      padding: 0;
      &__title a {
        @include theme-apply-fonts(
          $font-family: $theme-item-title-font-family,
          $font-size-sm: $theme-item-title-font-size-sm,
          $font-size: $theme-item-title-font-size,
          $font-weight: $theme-item-title-font-weight,
          $letter-spacing: $theme-item-title-letter-spacing,
          $line-height-sm: $theme-item-title-line-height-sm,
          $line-height: $theme-item-title-line-height
        );
      }
    }
  }
}
.magazine-publication-card-block {
  &__body {
    .issue-archive-cover {
      margin-bottom: map-get($spacers, block);
    }
  }
}
.card-deck-flow {
  .node {
    &--no-image-overlay {
      height: 100%;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      .node {
        &__title {
          @include theme-apply-fonts(
            $font-family: $theme-item-title-font-family,
            $font-size-sm: $theme-item-title-font-size-sm,
            $font-size: $theme-item-title-font-size,
            $font-weight: $theme-item-title-font-weight,
            $letter-spacing: $theme-item-title-letter-spacing,
            $line-height-sm: $theme-item-title-line-height-sm,
            $line-height: $theme-item-title-line-height
          );
        }
      }
    }
  }
}

.card-deck-flow + .ad-container {
  &--bottom-leaderboard {
    padding-top: map-get($spacers, block);
    padding-bottom: map-get($spacers, block);
    border-top: 1px solid rgba(0, 0, 0, .25);
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    + .load-more-trigger {
      margin-top: map-get($spacers, block);
    }
  }
}

body {
  letter-spacing: $bizbash-letter-spacing;
}
.document-container {
  padding-right: 0;
  padding-left: 0;
}
.page {
  padding: 15px;
  > .hero-flow:first-child {
    padding-top: map-get($spacers, block);
  }
}

.container-fluid-max {
  // @todo Determine if this should go to core
  @include media-breakpoint-down(xs) {
    padding-right: 0;
    padding-left: 0;
  }
  > main {
    // @todo Added temporarily to ensure "default-page" style is applied w/o using the class.
    // This should be fix in cms-page core
    > .page-wrapper {
      margin-bottom: map-get($spacers, block);
    }
  }
}

.ad-rail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
}

// @todo Re-evaluate page wrapper classes globally
.page-wrapper {
  padding-bottom: 0;
  &__header,
  &__body,
  &__contents {
    padding-right: 0;
    padding-left: 0;
  }
  // @todo Re-evaluate and move to core?
  .breadcrumb {
    padding-top: 0;
  }
}

// @todo Move to core?
.magazine-publication-card {
  &__header {
    padding-right: 0;
    padding-left: 0;
  }
}


.site-navbar {
  $self: &;
  &__items--secondary {
    #{ $self }__item--white {
      #{ $self }__link {
        color: $white;
      }
    }
  }
}
.site-navbar--primary {
  .site-navbar {
    &__link::before {
      float: left;
      padding-right: $theme-site-navbar-primary-padding-x - 1;
      color: $primary;
      content: "|";
    }
    &__item:first-child {
      a::before {
        padding-right: 0;
        content: "";
      }
    }
  }
}

.card-deck-flow {
  &__node {
    padding: map-get($spacers, block);
    margin-bottom: 0;
  }
  .node {
    &--image-overlay {
      // @todo more to core?
      @include theme-line-height-crop($theme-item-title-line-height);
      $title-font-size: 21px;
      $title-font-size-sm: 16px;
      $title-line-height: 1.3;
      $title-line-height-sm: 1.3;
      .node {
        &__title,
        &__title a {
          @include theme-apply-fonts(
            $font-size: $title-font-size,
            $font-size-sm: $title-font-size-sm,
            $font-weight: 600,
            $line-height: $title-line-height,
            $line-height-sm: $title-line-height-sm
          );
          @include theme-max-lines(
            $font-size: $title-font-size,
            $font-size-sm: $title-font-size-sm,
            $line-height: $title-line-height,
            $line-height-sm: $title-line-height-sm,
            $num: 5
          );
        }
      }
    }
  }
}

.node {
  $self: &;
  &__title::before {
    display: block;
    width: 0;
    height: 0;
    margin-top: -.2em;
    content: "";
  }

  &__footer-right {
    white-space: nowrap;
  }

  &--shadow {
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
  }

  // @todo Move to core?
  &--latest-issue {
    padding-right: 0;
    padding-left: 0;
  }
  &--image-left {
    #{ $self } {
      &__image {
        margin-top: 0;
      }
    }
  }

  &--image-right {
    #{ $self } {
      &__image {
        margin-top: 0;
      }
    }
  }

  &--image-overlay {
    #{ $self } {
      &__image-inner-wrapper {
        &::after {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          content: "";
          background: linear-gradient(to top, rgba(0, 0, 0, .65), transparent);
        }
      }
      &__body {
        padding: 1.25rem;
      }
      &__contents {
        color: $white;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, .65);
        // stylelint-disable-next-line
        a {
          color: $white;
          // stylelint-disable-next-line
          &:hover {
            color: $white;
          }
        }
      }
      &__footer {
        color: $white;
      }
      &__header {
        color: $white;
      }
      &__website-section-name {
        margin-right: map-get($spacers, 2);
      }
    }
  }

  &--directory-featured-2000002 {
    #{ $self } {
      &__image-link {
        &::after {
          background: url("https://cdn.bizbash.com/files/base/bizbash/bzb/image/2019/01/320w/bb_best_2019.jpg") top left no-repeat;
          background-size: contain;
        }
      }
    }
  }
}

.content-attribution {
  display: inline;
  div {
    display: inline;
  }
  &__content-authors {
    &::before {
      content: "By";
    }
  }
}

.content-attribution:not(:empty) + .content-published-date {
  display: inline;
  &::before {
    margin-right: $theme-content-attribution-prefix-margin;
    margin-left: $theme-content-attribution-prefix-margin;
    font-weight: $theme-content-attribution-prefix-spacer-font-weight;
    content: "\2014";
  }
}

.page-body-image,
[data-embed-type="image"] {
  border-bottom: 1px solid #ccc;
}

// @todo Move to core; fix embedded images in paragraphs
.page-body-image {
  @include media-breakpoint-down(xs) {
    margin-right: -#{$grid-gutter-width / 2};
    margin-left: -#{$grid-gutter-width / 2};
  }
  &__caption,
  &__credit {
    @include media-breakpoint-down(xs) {
      padding-right: $grid-gutter-width / 2;
      padding-left: $grid-gutter-width / 2;
    }
  }
}

.hero-flow {
  &__hero {
    padding-right: map-get($spacers, block);
    padding-left: map-get($spacers, block);
  }
}

.node-list {
  &__nodes {
    padding: 0;
  }
  &__node {
    border-bottom: none;
  }
}

.page-attribution {
  &__content-authors {
    &::before {
      content: "By";
    }
  }
}
