$theme-site-header-breakpoints: (
  hide-primary: 1100px,
  hide-secondary: 995px,
  small-logo: 995px,
  small-text-primary: 0,
);

// Colors
$primary: #dc0d23;

@import "../../node_modules/@bizbash-media/package-global/scss/core";
